dotnet: 3.0.100-preview3-010431
language: csharp
mono: none
sudo: false
dist: trusty
addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - NUGET_XMLDOC_MODE: skip
os:
  - linux
  - osx
osx_image: xcode8.2
script:
  - ./build.sh
